service: marketplace
frameworkVersion: "2"

plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-prune-plugin

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1
  apiGateway:
    shouldStartNameWithService: true

custom:
  serverless-offline:
    useChildProcesses: true
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules:
      forceExclude:
        - "@types/aws-lambda"
  prune:
    automatic: true
    number: 1

functions:
  - ${file(./module/product/functions.yml)}
  - ${file(./module/category/functions.yml)}
  - ${file(./module/status/functions.yml)}
